<ion-header>
  <ion-toolbar class="toolbar-financiero header-toolbar" style="--background: #f4c060;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homeadmin"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ textos[currentLang].titulo }}</ion-title>
    <ion-buttons slot="end">
      <div class="language-flag" (click)="mapVisible = true">
         <img [src]="'assets/flags/' + currentLang + '.svg'" style="width: 36px;
    height: 30px;
    border-radius: 4px;" [alt]="currentLang" />
      </div>
      <ion-button (click)="logOut()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-financiero">
  <div class="grafico-fondo"></div>

  <div *ngIf="isLoading" class="div-spinner">
    <ion-spinner name="circular" class="spinner-financiero" style="height: 22vh; width: 22vw;"></ion-spinner>
  </div>

  <div class="mapa-modal" *ngIf="mapVisible">
    <div class="modal-backdrop" (click)="mapVisible = false"></div>
    <div class="modal-content">
      <app-mapaidioma (idiomaSeleccionado)="cambiarIdioma($event)" (cerrar)="mapVisible = false">
      </app-mapaidioma>
    </div>
  </div>

  <div class="login-container" style="height: 100%;">
    <div class="tarjeta-login" style="height: 100%;">
      <div class="encabezado">
        <h1 class="titulo">{{ textos[currentLang].titulo }}</h1>
        <p class="subtitulo">{{ textos[currentLang].subtitulo }}</p>
      </div>

      <form [formGroup]="formData" class="formulario" (ngSubmit)="altaMesa()">
        <ion-item lines="none" class="item-formulario">
          <ion-label position="stacked" class="etiqueta">{{ textos[currentLang].numero }}</ion-label>
          <ion-input id="numero" formControlName="numero" type="number" class="input-financiero"
            placeholder="{{ textos[currentLang].placeholderNumero }}"></ion-input>
        </ion-item>

        <ion-item lines="none" class="item-formulario">
          <ion-label position="stacked" class="etiqueta">{{ textos[currentLang].cantComensales }}</ion-label>
          <ion-input id="cantComensales" formControlName="cantComensales" type="number" class="input-financiero"
            placeholder="{{ textos[currentLang].placeholderComensales }}"></ion-input>
        </ion-item>

        <!-- <ion-item lines="none" class="item-formulario">
          <ion-label position="stacked" class="etiqueta">Tipo</ion-label>
          <ion-select id="tipo" formControlName="tipo" class="input-financiero" placeholder="Seleccione un tipo">
            <ion-select-option value="VIP">VIP</ion-select-option>
            <ion-select-option value="Discapacitados">Para discapacitados</ion-select-option>
            <ion-select-option value="Estándar">Estándar</ion-select-option>
          </ion-select>
        </ion-item> -->

        <ion-item class="item-formulario">
          <ion-label position="stacked">{{ textos[currentLang].tipo }}</ion-label>
          <select class="native-select" formControlName="tipo" class="input-financiero"
            style="margin-top: 10px; width: 100%; height: 55px;">
            <option *ngFor="let t of tipos" [value]="t">{{ t }}</option>
          </select>
        </ion-item>

        <div class="photo-section">
          <ion-label position="stacked" class="etiqueta">{{ textos[currentLang].fotoPerfil }}</ion-label>
          <div class="photo-box" (click)="takePhoto()"
            [class.invalid]="foto?.invalid && (foto?.touched || formSubmitted)">
            <img *ngIf="photoPreview; else cameraIcon" [src]="photoPreview" />
            <ng-template #cameraIcon>
              <div class="camera-icon-container">
                <ion-icon name="camera" class="camera-icon"></ion-icon>
                <div class="photo-label">{{ textos[currentLang].agregarFoto }}</div>
              </div>
            </ng-template>
          </div>
          <div *ngIf="foto?.invalid && (foto?.touched || formSubmitted)" class="error-message"
            style="text-align: center;">
            <ion-text color="danger">{{ fotoError }}</ion-text>
          </div>
        </div>

        <!-- <div class="photo-boxes">
          <div 
            class="photo-box" 
            *ngFor="let foto of fotos; let i = index" 
            [ngClass]="{'filled': foto}" 
          >

            <img *ngIf="foto; else cameraIcon" [src]="foto" alt="Foto {{i + 1}}" />
            
            <ng-template #cameraIcon>
              <img src="assets/camara.png" alt="Tomar foto" 
                  style="width:100px; height:50px; object-fit:contain;" />
              <div class="photo-label">Fotos</div>
            </ng-template>
          </div>
        </div> -->

        <!--         
        <ion-button expand="block" color="primary" (click)="tomarFoto()" [disabled]="todasLasFotosCargadas">
          Sacar Fotos
        </ion-button> -->

        <ion-button type="submit" class="boton-alta" (click)="altaMesa()" [disabled]="isLoading">{{ textos[currentLang].guardar }}</ion-button>

        <div *ngIf="errorLogin" class="error-message" style="text-align: center; margin-top: 15px;">
          <ion-text color="danger">{{ errorText }}</ion-text>
        </div>

      </form>
    </div>
  </div>
</ion-content>